#title-container{
	text-align: center;
  background: #353946;
}

.titleNameContainer {
  	font-size: 15px;
  	text-align: center;
  	height: 400px;
  	padding-left: 50px;
  	padding-right: 50px;
  	background-repeat: no-repeat;
    background-position: center;
  	display: block;
  	margin:auto;
    background: #292C33;
}

#titleNameText {
	padding-top: 200px;
	text-align: right;
  color: #FF538E !important;
}

#titleDescription {
  text-align: right;
  color: #FF538E !important;
}

#projectMiddleComponentClass {
  margin-left: 20px;
  margin-top: 20px;
  color: #44C37F !important;
  text-align: left;
}

#designMiddleComponentClass {
  margin-left: 20px;
  color: #44C37F !important;
  text-align: left;
}

.rowC {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}


.rowC_Design {
  display: flex;
  flex-direction: row;
}